@import '~antd/dist/antd.css';

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftHalf {
  display: flex;
  flex: 1;
  margin: 32px;
  flex-direction: column;
}

.rightHalf {
  display: flex;
  flex: 2;
  margin: 32px;
  flex-direction: column;
}

.btnWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.titleWrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.delWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.btnStyle {
  width: 9em;
  margin: 0.3em;
}

div {
  width: 100%;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}