@import '~antd/dist/antd.css';

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.leftHalf {
  display: flex;
  flex: 1;
  margin: 32px;
  flex-direction: column;
}

.rightHalf {
  display: flex;
  flex: 2;
  margin: 32px;
  flex-direction: column;
}

.btnWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleWrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
